@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(66, 45, 45);
  color: rgb(0, 0, 0);
}

.topnav {
  background-color: #685050;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}
.topnav a.active {
  text-decoration: underline;
}

.topnav a:hover {
  font-size: 25px;
}

#logo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 50px;
}

.photo-link {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.photo-link li {
  list-style: none;
}

.photo-link a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.product {
  padding: 50px;
}
.piccollection {
  padding: 50px;
  font-size: 8px;
}

.piccollection ul {
  justify-content: center;
  display: flex;
  list-style-type: none;
}

.piccollection li {
  margin: 8px;
}
p {
  padding: 10px;
  font-size: 200%;
}

.textcollection {
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer {
  background: #685050;
  color: #fff;
  margin: auto;
  padding: 20px;
  font-size: 15px;
  overflow: hidden;
}
.footer-lists a {
  justify-content: space-between;
  margin-bottom: 5px;
  color: #fff;
  text-decoration: none;
  padding: 20px;
}
.footer-lists ul {
  list-style: none;
}
.text-product {
  padding: 15px;
  font-size: 20px;
  color: #fff;
  text-align: left;
}

.product img {
  border-radius: 8px;
  justify-content: space-around;
}

.line {
  color: #fff;

  border-radius: 16px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px;
}

.line .btn {
  cursor: pointer;
  border-radius: 5px;
  color: white;
  padding: 8px 20px;
  margin-top: 5px;
  background-color: #555151;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: red;
  font-size: 40px;
}
.login-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  margin: 10% auto;
  width: 400px;
  background: #fff;
  color: #333;
  position: relative;
  animation: modalopen 0.5s;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-body {
  padding: 50px;
}
.modal-body h3 {
  font-weight: bold;
}
.modal-body .btn {
  width: 100%;
  margin-top: 30px;
}
.modal .close {
  cursor: pointer;
  height: 23px;
  width: 23px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.login-btn {
  position: absolute;
  right: 0;
  margin-right: 20px;
}

/* Form */
.form-control {
  margin: 20px 0;
}
.form-control label {
  display: block;
  text-transform: uppercase;
}
.form-control input {
  width: 100%;
  border: 2px #ccc solid;
  border-radius: 5px;
  height: 50px;
  padding: 5px;
}

@media (max-width: 1100px) {
  .piccollection ul {
    display: block;
  }
}
@media (max-width: 768px) {
  #logo {
    font-size: 20px;
  }
  .photo-link li a {
    font-size: 10px;
    margin: 2px;
  }
  .photo-link li button {
    font-size: 5px;
  }
}
